spring:
  application:
    name: user-service
  threads:
    virtual:
      enabled: true
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com
  sql:
    init:
      mode: always
  redis:
    host: "redis"
    port: ${REDIS_PORT}

jwt:
  secret: ${JWT_SECRET}
  accessTokenExpirationMs: ${JWT_EXPIRATION_ACCESS_TOKEN}
  refreshTokenExpirationMs: ${JWT_EXPIRATION_REFRESH_TOKEN}

common:
  jwt:
    enabled: true
  exception:
    handler:
      enabled: true



