/* Base */
@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #0A0A0A;
    --color-primary: #D9D9D9;
    --color-text: #D9D9D9;
    --color-text-active: #FFFFFF;
    --color-text-muted: #999999;
    --color-accent: #999999;
    --background-color-secondary: #111111;
    --stroke-color-primary: #3C3C3C;
    --spacing-xss: 0.5rem;
    --spacing-xs: 0.75rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-vlg: 3rem;
}

html {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: flex;
    letter-spacing: -0.04cap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: "Tai Heritage Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: var(--color-primary);
    letter-spacing: normal;
}

h2 {
    font-family: "Tai Heritage Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--color-primary);
    letter-spacing: normal;
}

h3 {
    font-family: "Tai Heritage Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: var(--color-primary);
    letter-spacing: normal;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-primary);
}

p {
    color: var(--color-text-muted);
    font-weight: 300;
}

strong {
    color: var(--color-text);
}

/* Buttons */
button {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.04cap;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xss);
    padding: var(--spacing-xs) var(--spacing-sm);
}

button > img {
    height: 0.5rem;
}

.filled-button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 4rem;
}

.filled-button:hover {
    background-color: var(--color-text-active);
}

.ghost-button {
    background-color: transparent;
    border: 1px solid var(--stroke-color-primary);
    border-radius: 4rem;
    color: var(--color-text);
}

.ghost-button:hover {
    background-color: var(--background-color-secondary);
}

.text-button {
    color: var(--color-text);
    background-color: transparent;
    border: none;
}

.text-button:hover {
    color: var(--color-text-active) !important;
}

.toggle-button {
    background-color: transparent;
    border: none;
    color: var(--color-text);
}

.toggle-button:hover {
    color: var(--color-text-active);
}

@media screen and (min-width: 580px) {
    html {
        font-size: 14px;
    }
}




/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) 0;
    position: sticky;
    top: 0;
}

#control-panel {
    display: flex;
    flex-direction: row;
}

#new-chat-button {
    color: var(--color-text-muted);
}

#auth-panel {
    display: none;
}

@media screen and (min-width: 580px) {
    #auth-panel {
        display: flex;
    }
}




/* Footer */
footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    width: calc(100% + 4rem); /* Compensate for aside width */
    padding: var(--spacing-vlg);
    text-align: center;
    margin-left: -4rem; /* Compensate for aside width */
}

@media screen and (min-width: 580px) {
    footer {
        margin-left: 0;
        width: 100%;
    }
}
