/* Base */
@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #0A0A0A;
    --color-primary: #D9D9D9;
    --color-text: #D9D9D9;
    --color-text-muted: #999999;
    --color-accent: #999999;
    --background-color-secondary: #111111;
    --stroke-color-primary: #3C3C3C;
    --spacing-xss: 0.5rem;
    --spacing-xs: 0.75rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-vlg: 3rem;
}

html {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: flex;
    letter-spacing: -0.04cap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: "Tai Heritage Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: var(--color-primary);
}

h2 {
    font-family: "Tai Heritage Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--color-primary);
}

h3 {

}

p {
    color: var(--color-text-muted);
}

strong {
    color: var(--color-text);
}

/* Buttons */
button {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.04cap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xss);
    padding: var(--spacing-xs) var(--spacing-sm);
}

button > img {
    height: 0.5rem;
}

.filled-button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 4rem;
}

.text-button {
    color: var(--color-text);
    background-color: transparent;
    border: none;
}

.toggle-button {
    background-color: transparent;
    border: none;
    color: var(--color-text);
}

@media screen and (min-width: 580px) {
    html {
        font-size: 14px;
    }
}




/* Landing page */
#landing-page {
    width: 100%;
}



/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) 0;
    position: sticky;
    top: 0;
}

#control-panel {

}

#auth-panel {
    display: none;
}

@media screen and (min-width: 580px) {
    #auth-panel {
        display: flex;
    }
}




/* Aside */
aside {
    height: 100vh;
    min-width: 4rem;
    position: sticky;
    padding: var(--spacing-sm) 0;
    top: 0;
}

#aside-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aside-header > button > img {
height: 1rem;
}

@media screen and (min-width: 580px) {
    aside {
        border-right: 3px solid #111111;
    }
}



/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: var(--spacing-vlg);
}

#search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#search-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color-secondary);
    border: 1px solid var(--stroke-color-primary);
    border-radius: 4rem;
    width: 40%;
}

#attach-button > img {
    height: 1.5rem;
}

#send-button {
    padding: var(--spacing-xss);
    margin-left: auto;
}

#search-input-text {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-text);
    width: 100%;
}

#search-input-text::placeholder {
    color: var(--color-text-muted);
}

#send-button > img {
    height: 3rem;
}




/* Footer */
footer {
    bottom: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    padding: var(--spacing-vlg) 0;
}