spring:
  application:
    name: gateway

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
app:
  allowed-origin: "${ALLOWED_ORIGIN}"
# eureka:
#   client:
#     service-url:
#       defaultZone: http://eureka-server:8761/eureka/

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true