$padding-xss: 0.25rem;
$padding-xs: 0.5rem;
$padding-sm: 0.75rem;
$padding-md: 1rem;
$padding-lg: 1.25rem;

$spacing-xss: 0.5rem;
$spacing-xs: 0.75rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-vlg: 3rem;
