ragchecker
openai==2.11.0
python-dotenv==1.2.1
httpx==0.28.1
pymilvus==2.6.5
transformers==4.57.3
sentence-transformers==5.2.0
datasets==4.4.1
tqdm==4.67.1

# PyTorch CPU
#--extra-index-url https://download.pytorch.org/whl/cpu
#torch
#torchvision

# PyTorch with CUDA 13.0 - we install this in the Dockerfile directly to cache layers
# --extra-index-url https://download.pytorch.org/whl/cu130
# torch
# torchvision
# xformers


# For serving API
fastapi==0.120.2
fastapi-cli==0.0.14
fastapi-cloud-cli==0.3.1
uvicorn==0.38.0
python-multipart==0.0.20 
pydantic==2.12.3
starlette==0.49.1
typing-extensions==4.15.0

# Additional server dependencies
anyio==4.11.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
click==8.3.0
sniffio==1.3.1
idna==3.11
certifi==2025.10.5
watchfiles==1.1.1
websockets==15.0.1
uvloop==0.22.1

# gRPC for pymilvus
grpcio==1.76.0
protobuf==6.33.0

# Additional dependencies used in code
scikit-learn==1.7.2 
pillow

# For tests
pymupdf==1.26.5 